<div class="container">
    <header>
        <h1>Read All About It!</h1>
        <h4>Your Saved Articles</h4>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </nav>
    <div class="wrapper">
        <ul>
            {{#each Article}} {{#if this.saved}}
            <li>
                <h3>{{this.title}}</h3>
                <p>{{this.link}}</p>
                <button id="noteButton" class="btn btn-default">Notes</button>
                <button id="deleteButton" class="btn btn-default">Delete</button>
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>

</div>